.formulario-cadastro-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.formulario-cadastro-login input:first-child{
    margin-top: 1rem;
}

.formulario-cadastro-login .botoes{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}
