.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cabecalho h1{
    font-size: 2.4rem;
    padding: 1.4rem .8rem;
    text-align: center;
}
.cabecalho #hora{
    font-size: 5rem;
    font-weight: bold;
}

.cabecalho .pomodoro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.cabecalho .pomodoro span{
    font-size: 2rem;
    font-weight: bold;
}

.cabecalho .pomodoro-botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

.cabecalho .pomodoro-botoes i{
    width: 30px;
}

#formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}
#formulario input[type="text"]{
    width: 100%;
    padding: .5rem;
    border-radius: 1rem;
    border: 0.125rem solid var(--input-border-color);
    font-size: 1.1rem;
}

.container-tarefas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-tarefas .tarefas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
}

.container-tarefas button{
    padding: .2rem .8rem;
}

.tarefas li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .4rem;
    font-weight: bold;
    font-size: 1.4rem;
    margin: .5rem;
}

.tarefas input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    background-color: var(--input-background-color);
    border: 0.125rem solid var(--input-border-color);
    border-radius: 0.25rem;
    cursor: pointer;
}

.tarefas input[type="checkbox"]:checked {
    background-color: var(--input-focus-color);
}

