
@media screen and (max-width: 768px) {
    
    .cabecalho h1{
        font-size: 1.8rem;
    }
    .cabecalho .modos-claro-escuro{
        position: relative;
        top: -6rem;
        left: 12rem;
    }
    .cabecalho .pomodoro{
        width: 100%;
    }
    input{
        width: 81%;
        font-size: 1rem;
    }

    .container-login{
        width: 60%;
        padding: 1rem .1rem;
    }
}